<app-dialog>
  <mat-toolbar ngProjectAs="[header]" class="dialog-title">
    {{ headerTypeLabel }}
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <form ngProjectAs="[content]" [formGroup]="programForm">
    <mat-form-field appearance="outline" class="name-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="New Program" />
      <mat-error *ngIf="programForm.get('name')?.touched">
        {{ getFieldError('name') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="description-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>

  <div ngProjectAs="[actions]" class="dialog-actions">
    <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
    <button
      mat-button
      class="confirm-button"
      (click)="onSubmit()"
      [disabled]="!programForm.valid">
      Confirm
    </button>
  </div>
</app-dialog>
