<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-toolbar>Klockan</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/home">Courses</a>
      <a mat-list-item routerLink="/home">Classrooms</a>
      <a mat-list-item routerLink="/home">Students</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- TODO: Refactor the sidenav -->
    <!-- <router-outlet></router-outlet> -->
    <div *ngIf="token">
      <!-- Content visible when the token exists (user is logged in) -->
      <div class="content-container">
        <h1>Welcome to the home page!</h1>
        <button
          mat-flat-button
          color="primary"
          class="logout-button"
          (click)="logout()">
          Logout
        </button>
      </div>
    </div>

    <div *ngIf="!token">
      <!-- Content visible when the token does not exist (user is not logged in) -->
      <p>Please log in to access this page.</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
