.sidenav-container
  height: 100%

  .mat-toolbar
    font-size: 20px
    background: none
    text-align: center
    justify-content: center

  .mat-divider
    margin-top: 8px
    margin-bottom: 8px

  a.mat-list-item
    display: flex
    align-items: center

  mat-icon
    margin-top: 8px
    margin-right: 8px

  .mat-sidenav 
    width: 250px
    padding: 1em
    box-sizing: border-box
  

  .mat-sidenav-content 
    padding: 1em
    position: relative
  
  
  mat-nav-list 
    width: 100%
    
    a 
      font-size: 1em
      color: rgba(0, 0, 0, 0.8)

  .content-container
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: center
    align-items: center

    .logout-button
      position: absolute
      top: 0
      right: 0
      margin: 16px
