<table class="table-primary" *ngIf="data.length !== 0">
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        <ng-container>
          {{ header | titlecase }}
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let header of headers">
        {{ item[header.toLowerCase()] }}
      </td>
      <td *ngIf="headers">
        <mat-icon (click)="editItem(item)" class="table-action">edit</mat-icon>
        <mat-icon (click)="deleteItem(item)" class="table-action"
          >delete</mat-icon
        >
      </td>
    </tr>
  </tbody>
</table>
