<!-- IMPROVEMENT: add table filter -->

<table mat-table [dataSource]="dataSource" matSort>
  <!-- type columns -->
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.selector.toString()">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column.header || (column.selector.toString() | titlecase) }}
    </th>
    <td mat-cell *matCellDef="let row">{{ row[column.selector] }}</td>
  </ng-container>

  <!-- actions column -->
  <ng-container *ngIf="commonColumns.actions" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      {{ (commonColumns.actions.header | titlecase) || commonHeaders.actions }}
    </th>

    <td mat-cell *matCellDef="let row">
      <mat-icon
        *ngIf="commonColumns.actions.options?.edit"
        (click)="editItem(row)"
        class="table-action"
        >edit</mat-icon
      >
      <mat-icon
        *ngIf="commonColumns.actions.options?.delete"
        (click)="deleteItem(row)"
        class="table-action"
        >delete</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headerRow"></tr>
  <tr mat-row *matRowDef="let row; columns: headerRow"></tr>
</table>
