<!-- IMPROVEMENT: add table filter -->

<table class="table" mat-table [dataSource]="dataSource" matSort>
  <!-- type columns -->
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.selector.toString()">
    <th
      class="table__cell table__cell--header"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header>
      {{ column.header || (column.selector.toString() | titlecase) }}
    </th>
    <td class="table__cell table__cell--data" mat-cell *matCellDef="let row">
      {{ row[column.selector] }}
    </td>
  </ng-container>

  <!-- actions column -->
  <ng-container
    *ngIf="commonColumns.actions"
    [matColumnDef]="commonHeaders.actions">
    <th
      class="table__cell table__cell--header"
      mat-header-cell
      *matHeaderCellDef>
      {{ commonColumns.actions.header || commonHeaders.actions }}
    </th>

    <td
      class="table__cell table__cell--data table__cell--flex"
      mat-cell
      *matCellDef="let row">
      <button
        *ngIf="commonColumns.actions.options?.edit"
        mat-icon-button
        class="table__button mat-mini-icon-button"
        [disabled]="!onRowEdit.observed"
        (click)="editRow(row)">
        <mat-icon class="material-symbols-outlined" fontIcon="edit" />
      </button>
      <button
        *ngIf="commonColumns.actions.options?.delete"
        mat-icon-button
        class="table__button mat-mini-icon-button"
        [disabled]="!onRowDelete.observed"
        (click)="deleteRow(row)">
        <mat-icon class="material-symbols-outlined" fontIcon="delete" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headerRow"></tr>
  <tr mat-row *matRowDef="let row; columns: headerRow"></tr>
</table>
