<main>
  <section class="main-section">
    <h2>Programs</h2>
    <app-button
      (click)="showCreateDialog()"
      text="New Program"
      icon="add"></app-button>
  </section>

  <div class="spinner" *ngIf="isLoading; else table">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="70"></mat-progress-spinner>
  </div>

  <ng-template #table>
    <app-table
      [columns]="columns"
      [commonColumns]="commonColumns"
      (onRowEdit)="showEditDialog($event)"
      (onRowDelete)="showDeleteDialog($event)"></app-table>
  </ng-template>

  <ng-template #dialog>
    <app-program-form></app-program-form>
  </ng-template>
</main>
