<app-dialog>
  <mat-toolbar ngProjectAs="[header]" class="header">
    <span>{{ data ? 'Update Course' : 'New Course' }}</span>
  </mat-toolbar>

  <form ngProjectAs="[content]" class="dialog-content" [formGroup]="courseForm">
    <mat-form-field>
      <mat-label for="name">Name</mat-label>
      <input matInput type="text" name="name" formControlName="name" />
      <mat-error *ngIf="courseForm.get('name')?.touched">
        {{ getFieldError('name') }}
      </mat-error></mat-form-field
    >

    <div>
      <mat-form-field>
        <mat-label for="sessions">Sessions</mat-label>
        <input
          matInput
          type="number"
          name="sessions"
          formControlName="sessions" />
        <mat-error *ngIf="courseForm.get('sessions')?.touched">
          {{ getFieldError('sessions') }}
        </mat-error></mat-form-field
      >

      <mat-form-field>
        <mat-label for="duration">Minutes / Session</mat-label>
        <input
          matInput
          type="number"
          name="duration"
          formControlName="duration" />
        <mat-error *ngIf="courseForm.get('duration')?.touched">
          {{ getFieldError('duration') }}
        </mat-error></mat-form-field
      >
    </div>

    <mat-form-field>
      <mat-label for="description">Details</mat-label>
      <textarea
        matInput
        name="description"
        id="description"
        formControlName="description"></textarea>
    </mat-form-field>
  </form>

  <div ngProjectAs="[actions]">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      cdkFocusInitial
      (click)="onSubmit()">
      Confirm
    </button>
  </div>
</app-dialog>
