.header
  background: white
  border-bottom: solid 1px
  border-color: var(--mat-sidenav-container-divider-color)

  &__content
    width: 100%
    display: flex
    align-items: center
    gap: 1rem

  &__spacer
    flex: 1 1 0

.sidebar
  &__link-content
    display: flex
    align-items: center
    gap: 1rem
