@import "components/buttons"
@import "components/dialogs"
@import "components/forms"

:host
  width: 100%
  box-sizing: border-box

.form
  &__title
    font-size: 1.2rem
    margin-top: 2rem
    margin-bottom: 1rem


.schedule
  box-sizing: border-box
  width: 100%
  display: flex
  gap: 1rem
  padding: 1rem
  border: solid 1px #aaa
  border-radius: 4px

  &:not(:last-of-type)
    margin-bottom: 1rem 
    
  &__container
    width: 100%
    box-sizing: border-box

  &__container-actions
    margin-top: 1rem

  &__content
    width: calc(100% - 4rem) 
    flex: 1 1 0

  &__row
    display: flex
    gap: 1rem

  &__actions 
    flex-shrink: 0
    margin-top: 1rem
