<app-dialog>
  <mat-toolbar ngProjectAs="[header]" class="dialog-title">
    {{ headerTypeLabel }}
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <form ngProjectAs="[content]" [formGroup]="classroomForm">
    <mat-form-field>
      <mat-label>Program</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let option of programOptions"
          [value]="option.value"
          >{{ option.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Course</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let option of courseOptions"
          [value]="option.value"
          >{{ option.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <div ngProjectAs="[actions]" class="dialog-actions">
    <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
    <button
      mat-button
      class="confirm-button"
      (click)="onSubmit()"
      [disabled]="!classroomForm.valid">
      Confirm
    </button>
  </div>
</app-dialog>
