@import "components/buttons"
@import "components/dialogs"
@import "components/forms"

.dialog-content
  display: flex
  flex-direction: column

input
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  &[type=number]
    -moz-appearance: textfield

textarea
  resize: none