<main class="main">
  <div class="main__header">
    <app-main-header title="Users">
      <ng-container *ngIf="userRoles?.includes('admin')">
        <button
          class="theme-button"
          mat-raised-button
          (click)="showFormDialog()">
          <mat-icon class="material-symbols-outlined" fontIcon="add" />
          <span>New User</span>
        </button>
      </ng-container>
    </app-main-header>
  </div>

  <div class="main__content">
    <div class="spinner" *ngIf="isLoading; else table">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="70"></mat-progress-spinner>
    </div>
  </div>
</main>

<ng-template #table>
  <app-table
    [data]="users"
    [columns]="columns"
    [commonColumns]="commonColumns"
    (onRowEdit)="showEditDialog($event)"
    (onRowDelete)="showDeleteDialog($event)"></app-table>
</ng-template>

<ng-template #dialog>
  <app-program-form></app-program-form>
</ng-template>
