/* You can add global styles to this file, and also import other style files */
@import "variables"

html, body
  height: 100%
  margin: 0
  padding: 0

*
  font-family: 'Nunito', sans-serif

.sidebar
  background-color: $sidenav

.table-primary
  border-radius: 8px
  background-color: $surface-brighter
  padding-bottom: 20px
  display: flex
  flex-direction: column
  thead
    padding: 16px 16px
  tbody
    tr
      background-color: #FEF7FF
      padding: 8px 16px
      border-bottom: 1px solid #E6E0E9
  table, thead, tbody
    display: flex
    flex-direction: column
    justify-content: space-between
    tr
      display: flex
      justify-content: space-between
      th
        text-align: left
        flex: 4
        &:first-of-type
          flex: 1
          &:last-of-type
            flex: 1
    td
      display: flex
      align-items: center
      flex: 4
      &:first-child
        padding-left: 0
        flex: 1
        &:last-child
          padding-right: 0
          flex: 1

.primary
  background-color: $primary
  color: white

.primary-passive-button
  background-color: white
  color: $primary

.primary-container
  background-color: $primary-container-text
  color: $on-primary-container

.primary-container-mixed
  background-color: $on-primary-container
  color: $primary-container-text

.primary-container-fixed
  color: $primary
  background: $primary-container-text

.primary-container-fixed-variant
  color: $primary-container-text
  background: $primary-container-dim

.secondary
  background-color: $secondary
  color: white

.secondary-passive-button
  background-color: white
  color: $secondary

.secondary-container
  background-color: $secondary-container-text
  color: $secondary-container

.secondary-container-mixed
  background-color: $secondary-container
  color: $secondary-container-text

.secondary-container-fixed
  color: $secondary
  background: $secondary-container-text

.secondary-container-fixed-variant
  color: $secondary-container-text
  background: $secondary-container-fixed-variant

.tertiary
  background-color: $tertiary
  color: white

.tertiary-passive-button
  background-color: white
  color: $tertiary

.tertiary-container
  background-color: $tertiary-container
  color: $on-tertiary-container

.tertiary-container-mixed
  background-color: $on-tertiary-container
  color: $tertiary-container

.tertiary-container-fixed
  color: $tertiary
  background: $tertiary-container

.tertiary-container-fixed-variant
  color: $tertiary-container
  background: $tertiary-container-fixed-variant

.error
  background-color: $error
  color: white

.error-passive-button
  background-color: white
  color: $error

.error-container
  background-color: $error-container-text
  color: $on-error-container

.error-container-mixed
  background-color: $on-error-container
  color: $error-container-text

.sidenav-container
  height: 100%

  .mat-toolbar
    font-size: 20px
    background: none
    text-align: center
    justify-content: center

  .mat-divider
    margin-top: 8px
    margin-bottom: 8px

  a.mat-list-item
    display: flex
    align-items: center

  mat-icon
    margin-top: 8px
    margin-right: 8px

  .mat-sidenav
    width: 250px
    padding: 1em
    box-sizing: border-box

  .mat-sidenav-content
    padding: 1em
    position: relative

  mat-nav-list
    width: 100%

    a
      font-size: 1em
      color: rgba(0, 0, 0, 0.8)

  .content-container
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: center
    align-items: center

    .logout-button
      position: absolute
      top: 0
      right: 0
      margin: 16px

.sidenav-button
  position: absolute
  top: 0
  left: 0
  margin: 16px
  background-color: rgba(0, 0, 0, 0)
  color: white
  border-radius: 8px
  padding: 8px
  cursor: pointer
  border: none
  display: flex
  align-items: center
  justify-content: center

.inside-list
  mat-icon
    margin: 0px
    gap: 16px
    display: flex
    align-items: center

.weather-table
  width: 100%
  border-collapse: collapse
  margin-top: 20px

  th, td
    border: 1px solid #ddd
    padding: 8px
    text-align: left

  th
    background-color: #f2f2f2

  tr:hover
    background-color: #f5f5f5

button
  border-radius: 16px
  border: none
  padding: 10px 24px
  cursor: pointer

.font-lobster
  font-family: 'Lobster', cursive

.spinner
  display: flex
  justify-content: center
  margin-top: 32px
  circle
    stroke: $primary

.error-snackbar
  --mdc-snackbar-container-color: #{$error-container}
  --mdc-snackbar-supporting-text-color: #{$error-container-text}
  --mat-snack-bar-button-color: #{$error}
