#klockan
    position: absolute
    top: 32px
    left: 48px


.form-container
    border-radius: 8px
    border: 1px solid rgba(0, 0, 0, 0.10)
    width: 450px
    padding: 10px
    text-align: center
    margin: auto

.form
  display: flex
  flex-direction: column
  width: 70%
  margin: auto

