<div class="main__header">
  <app-main-header title="Edit profile"> </app-main-header>
</div>
<main>
  <section id="profile-image">
    <img
      [src]="userDetails.image"
      alt="{{ userDetails.name }}"
      class="profile-image" />
  </section>
  <section id="profile-data">
    <ng-container *ngFor="let field of infoFields; let last = last">
      <div *ngIf="!excludedFields.includes(field.title)" class="info-field">
        <mat-form-field appearance="fill" *ngIf="field.key !== 'birthday'">
          <mat-label>{{ field.title }}</mat-label>
          <input
            matInput
            [(ngModel)]="userDetails[field.key]"
            name="{{ field.key }}"
            [disabled]="field.key === 'userName'" />
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="field.key === 'birthday'">
          <mat-label>{{ field.title }}</mat-label>
          <input
            matInput
            [(ngModel)]="userDetails[field.key]"
            name="{{ field.key }}"
            id="birthday-date"
            [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-divider
        *ngIf="!excludedFields.includes(field.title) && !last"></mat-divider>
    </ng-container>
  </section>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="submitForm()">
      Enviar
    </button>
  </div>
  <section id="profile-password"></section>
</main>
