<main class="main">
  <div class="main__header">
    <app-main-header title="Meetings">
      <button
        class="theme-button"
        mat-raised-button
        (click)="showCreateDialog()">
        <mat-icon class="material-symbols-outlined" fontIcon="add" />
        <span>New Meeting</span>
      </button>
    </app-main-header>
  </div>

  <div class="main__content">
    <div class="spinner" *ngIf="isLoading; else table">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="70"></mat-progress-spinner>
    </div>
  </div>
</main>

<ng-template #table>
  <app-table
    [data]="meetings"
    [columns]="columns"
    [commonColumns]="commonColumns"></app-table>
</ng-template>
